body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {margin: 0; font-family: arial, verdana, sans-serif; background: #fbfbfb;}
ul,li {margin: 0; padding: 0; list-style: none;}
a, a:hover {text-decoration: none;}
.wrapper {width: 960px; margin: 0 auto; text-align: justify;}

#header {padding: 30px 0; margin-bottom: 10px; background: #369; border-bottom: 1px solid #eee}
#header h1 {padding-left: 20px; margin: 0;}
#header h1 a {color: #fff;}
#header h1 a:hover {color: #efefef;}


/* Tabs */
#tabs {border: 1px solid #ccc; border-radius: 8px}
#tabs .tabs {overflow: hidden; border-bottom: 1px solid #ccc}
#tabs .tabs li {float: left;}
#tabs .tabs li + li {border-left: 1px solid #ccc}
#tabs .tabs li a {display: block; padding: 8px 16px; font-size: 18px; line-height: 21px; color: #999;}
#tabs .tabs li a.active,
#tabs .tabs li a:hover {color: #369;}

#tabs .tabs-content {padding: 20px; font-size: 16px; line-height: 21px;}


.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
